/* Common Styels */

body {
    margin: 0px;
}

section {
    width: 1320px;
    margin: 0 auto;
}

main section {
    margin-top: 120px;
}

/* banner section styles */

.banner-section {
    border-radius: 16px;
    background-image: url('./resources/Banner_Image.png');
    background-repeat: no-repeat;
    height: 600px;
    color: #FFF;
    font-family: 'Merriweather', serif;
    text-align: center;
}

.banner-section h2 {
    font-size: 72px;
    font-weight: 900;
    padding: 0px 340px 177px;
    margin-top: 0px;
}

.banner-section h3 {
    font-size: 32px;
    font-weight: 400;
    padding: 177px 530px 10px;
    margin-bottom: 0px;

}

/* discount section styles */
.discount-section {
    font-family: 'Inter', sans-serif;
    text-align: center;

}

.discount-section * {
    margin: 0px;
}

.discount-section h2 {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}



.discount-section p {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.discount-section h3 {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

.discount-section img {
    width: 803px;
    height: 500px;
}


/* invitation-section styles */

.invitation-section {
    display: flex;
    background-image: url('./resources/Vectorrr.png');
    background-repeat: no-repeat;
    height: 600px;
    align-items: center;
}



.invitation-text {
    width: 60%;
}

.invitation-img {
    width: 40%;
}

.invitation-img img {
    padding-left: 50px;
    width: 320px;
    height: 464px;
}


.invitation-text h2,
p {
    margin-left: 126px;

}

.invitation-text h2 {
    font-family: Merriweather;
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    margin-top: 126px;
    margin-bottom: 0px;
}

.invitation-text p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 48px;
}

.invitation-text button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 158px;
    margin-bottom: 142px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

/* portfolio-section styles */

.portfolio-section h3 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px;
}

.portfolio-section h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 16px;
    margin-bottom: 0px;
}

.portfolio-section p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin: 16px 0px 48px;
    width: 70%;
}

.accessories img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.accessory-1 {
    display: flex;
    justify-content: space-between;
}

.accessory-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

/* newsletter-section styles */

.newsletter-section {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    height: 600px;
    text-align: center;
}

.newsletter-section img {
    margin-top: 80px;
}

.newsletter-section h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 40px;
}

.newsletter-section p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 70%;
}

form input {
    height: 72px;
    background: #FFF;
    border: none;
}

form input[type="text"] {
    width: 438px;
    background: #FFF;
    padding-left: 30px;
    border-radius: 50px 0px 0px 50px;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}

form input[type="submit"] {
    width: 210px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

/* footer styles */

footer {
    margin-top: 120px;
    width: 100%;
    height: 609px;
    background: #070211;
}

.address-container {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
}

.address-container p {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    margin: 0px;
}

/* .address-container p:first-child {
    margin-top: 120px;
} */

.virtual-contact{
    margin-right: 120px;
}

.virtual-contact img{
    width: 24px;
    height: 24px;
}

.phone-number, .web-site{
    display: flex;
    align-items: center;
    gap: 10px;
}

hr {
    background: rgba(255, 255, 255, 0.15);
    ;
    width: 1320px;
    height: 1px;
    margin-top: 50px;
}

/* social-media-icons styles */

.social-media-icons {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
}

.footer-end {
    display: flex;
    color: #FFF;
    justify-content: space-between;
    align-items: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 50px;
}

.footer-end a {
    text-decoration: none;
    color: #FFF;
}

.footer-end p {
    margin-left: 0px;
}

/* bonus-offer-section styles */
.bonus-offer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.offer-text * {
    margin: 0px;
}

.offer-text h3 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.offer-text h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    padding-top: 5px;
}

.offer-text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-top: 22px;
}


.offer-img {
    border-radius: 463px;
    border: 15px solid #F00;
    width: 463px;
    height: 463px;

}

.offer-img img {
    margin: 50px;
    width: 365px;
    height: 365px;
    border-radius: 365px;
}

.offer-end * {
    margin: 0px;
}

.offer-end {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



.offer-end h2 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}


.offer-end p {
    padding-top: 5px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.offer-end img {
    width: 140px;
    height: 140px;
    margin-top: 40px;
}

