/* Common Styels */
section {
    width: 1320px;
    margin: 0 auto;
}

main section {
    margin-top: 120px;
}

/* banner section styles */

.banner-section {
    border-radius: 16px;
    background-image: url('./resources/Banner_Image.png');
    background-repeat: no-repeat;
    height: 600px;
    color: #FFF;
    font-family: 'Merriweather', serif;
    text-align: center;
}

.banner-section h2 {
    font-size: 72px;
    font-weight: 900;
    padding: 0px 340px 177px;
    margin-top: 0px;
}

.banner-section h3 {
    font-size: 32px;
    font-weight: 400;
    padding: 177px 530px 10px;
    margin-bottom: 0px;

}

/* discount section styles */
.discount-section {
    font-family: 'Inter', sans-serif;
    text-align: center;

}

.discount-section * {
    margin: 0px;
}

.discount-section h2 {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}



.discount-section p {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.discount-section h3 {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

.discount-section img {
    width: 803px;
    height: 500px;
}


/* invitation-section styles */

.invitation-section {
    display: flex;
    background-image: url('./resources/Vectorrr.png');
    background-repeat: no-repeat;
    height: 600px;
    align-items: center;
}



.invitation-text {
    width: 60%;
}

.invitation-img {
    width: 40%;
}

.invitation-img img {
    padding-left: 50px;
    width: 320px;
    height: 464px;
}


.invitation-text h2,
p {
    margin-left: 126px;

}

.invitation-text h2 {
    font-family: Merriweather;
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    margin-top: 126px;
    margin-bottom: 0px;
}

.invitation-text p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 48px;
}

.invitation-text button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 158px;
    margin-bottom: 142px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

/* portfolio-section styles */

.portfolio-section h3 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px;
}

.portfolio-section h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 16px;
    margin-bottom: 0px;
}

.portfolio-section p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin: 16px 0px 48px;
    width: 70%;
}

.accessory-1{
    display: flex;
    justify-content: space-between;
}

.accessory-2{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}